@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html, body {
        margin: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }
}